div{
    display: grid;
    flex-direction: column;
    flex-wrap: wrap;
    width: 400px;
    height: 600px;
}

img{
    width: 100px;
    height:80px;
    margin:20px;
    padding: 10px;
    background-color: aquamarine;
    border-radius: 60%;
}